# ======================
# PYTHON / DJANGO
# ======================

backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/

# Environment variables
.env

# ======================
# REACT / NODE
# ======================

frontend/node_modules/
frontend/dist/

# ======================
# VSCODE
# ======================

.vscode/

# ======================
# OS
# ======================

.DS_Store
Thumbs.db